/* 

font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;


 */

body {
	font-family: 'Lato', sans-serif;
}


.navbar > .container {
	width:auto;
}

header {
	height:280px;
	/*background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Bananas.jpg");*/
	background-size: cover;
	background-color: #318dbe;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.nav-wrapper {
    min-height: 85px;
}

.navbar-form input, .form-inline input {
	width:auto;
}

.navbar-brand {
	font-weight: 700;
}

#nav.affix {
    position: fixed;
    top: 0;
    z-index:1000;
}

.navbar-default {
	color: #318dbe;
}

#navlogo{
	
	padding-top: 3px;
	height: 50px;
}



#content {
	height:1000px;
	background-color: #d5d5d5;
	margin-top: 40px;
	z-index: 1;
}

#analytics {
	margin-bottom: 50px;

}


#analytics{
	margin-top: 20px;
}

#dietSearch {
	height: 40px;
	border-color: #125072;
}

#childrenContainer{
	margin-top: 25px;
}

#dietSearchBTN {
	height: 40px;
	border-color: #125072;
	background-color: #125072;
	color: #fff;
}

.icon {
	font-size: 1.2em;
}

.dietcontainer {
	height:140px;
	border-radius: 4px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4c/Bananas.jpg");
	background-size: cover;
	background-color: #d5d5d5;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 100%;
  	margin-bottom: 40px;
}

#placeholderspace{
	height: 0px;
}

.extraspace {
	height: 300px;
}

.dietSearch {
	border-radius: 20px;
}

.dietSearchBTN {
	border-radius: 20px;
}

.navbar-default {
	background-color: #fff;
	border-radius: 0px;
	border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-bottom-color: #318dbe;
    border-top-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.5s;
}

.navbar-default .navbar-nav>li>a {
    color: #125072;
    margin-top: 5px;
   	margin-bottom: 5px;
   	border-radius: 4px;
   	transition: all 0.5s;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(256, 256, 256, 0.5);
}


.on {
	padding-top: 0px;
    padding-bottom: 0px;
	background-color: #d4e0ed;
	border-bottom-color: #318dbe;
	border-top-color: #000;
	box-shadow: 0px 10px 15px -7px rgba(0, 0, 0, 0.2);

}

.dietName{
	color: #fff;
	font-weight: 800;
	font-size: 7em;
	text-align: center;
	text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.8);
}

svg {
	width: 100%;
}

.panel-default {
	border-width: 3px;
}

.panel-head {
	border-width: 4px;
}

.panel-body {
	border-width: 4px;
}

.panel > .moodhead {
    background-image: none;
    background-color: #edf6cd;
    border-color: #8cc632;
    color: #517a38;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: .3em;
    text-align: center;
}

.moodpanel {
	border-color: #8cc632;
}

.panel > .energyhead {
    background-image: none;
    background-color: #fdd4a0;
    border-color: #f69c16;
    color: #a86628;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: .3em;
    text-align: center;
}

.energypanel {
	border-color: #f69c16;
}

.panel > .weighthead {
    background-image: none;
    background-color: #f9b8af;
    border-color: #f54f5b;
    color: #a42630;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: .3em;
    text-align: center;
}

.weightpanel {
	border-color: #f54f5b;
}

/* home page */

#homepage {
	margin-top: -50px;
	background-image: url("./assets/images/esalhomeimg.png");
	height: 100vh;
	background-size: cover;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

#logobigsvg{
	height: 65vh;
}

.fa-angle-double-down {
	padding-top: 10px;
	color: #fff !important;
	font-size: 7em;
	text-decoration: none !important;
	
}

.fa-angle-double-down:hover {
	padding-top: 10px;
	color: #fff !important;
	font-size: 7em;
	text-decoration: none !important;
}

.fa-angle-double-down:active {
	padding-top: 10px;
	color: #fff !important;
	font-size: 7em;
	text-decoration: none !important;
}

#about{
	min-width: 100%;
	padding-top: 20px;
	min-height: 400px;
	margin: auto 0px;
	background-color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	align-items: center;
}

.aboutContainer{
	min-height: 350px;
	margin: 10px;
	background-color: #fff;

}

.aboutTitle {
	font-size: 2em;
	text-align: center;
	border-bottom: 1px solid #777;
	font-weight: 700;
	padding-bottom: 20px;
	color: #444;
	letter-spacing: .3em;
	text-transform: uppercase;
}

.aboutCopy{
	font-size: 16px;
	color: #777;
	padding-top: 10px;
	line-height: 1.5;
}

.fbox {
	text-align: center;
	display: block;
	margin-top: 20px;

}

.ficon {
	display: inline-block;
	background-color: #777;
	color: #fff;
	font-size: 35px;
	padding: 10px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
}

.iconOne {
	background-color: #318dbe;
    color: #fff;
}

.iconTwo {
	background-color: #f54f5b;
    color: #fff;
}

.iconThree {
	background-color: #8cc632;
    color: #fff;
}

/* TOP DIETS */

#topDietContainer {
	min-width: 100%;
	padding-top: 40px;
	padding-bottom: 40px; 
	min-height: 400px;
	margin: auto 0px;
	margin-top: 40px;
	margin-bottom: 500px;
	background-color: #eee;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
	

}

.dietContainer {
	min-height: 350px;
	margin: 0px;
	background-color: #fff;

}

.dietTitle {
	font-size: 1.5em;
	text-align: center;
	/*border-bottom: 1px solid #777;*/
	font-weight: 900;
	padding-bottom: 10px;
	color: #125072;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.dietCopy {
	font-size: 16px;
	color: #777;
	padding-top: 10px;
	/*border-top: 1px solid #777;*/
	line-height: 1.5;
}

.dietbox {
	background-color: #fff;
	padding: 5px;
	margin: 0px;
	min-width: 100%;
	border-radius: 4px;
	border: 2px solid #777;
	overflow: none;
}

.dietPadding {
	padding: 15px;
}

.smDietImg {
	max-width: 100%;
	padding-bottom: 10px;
}

.topDietsTitle{
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	padding-bottom: 20px;
	color: #444;
	letter-spacing: .3em;
	text-transform: uppercase;
}
/* Media Queries */
